<template>
    <div class="index">
        <div class="index-container">
            <main class="main-container">
                <MainContent />
            </main>
            <div class="sidebar-container">
                <SideBar />
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import 'assets/style/_sizeSetting.scss';

.index {
    margin-top: 24px;
    .index-container {
        max-width: 1182px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .main-container {
            width: 840px;
            @media (max-width: $pad_size) {
                width: 100%;
            }
        }

        .sidebar-container {
            width: 280px;
            @media (max-width: $pad_size) {
                display: none;
            }
        }
    }
}
</style>
