﻿<template>
    <div class="post">
        <div class="post-container">
            <main class="content-container">
                <PostContent />
            </main>
            <div class="sidebar-container">
                <SideBar> </SideBar>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
const {
    params: { postName }
} = useRoute();
</script>

<style lang="scss" scoped>
@import 'assets/style/_sizeSetting.scss';

.post {
    margin-top: 24px;
    .post-container {
        max-width: 1182px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 12px;

        .content-container {
            width: 840px;
            @media (max-width: $pad_size) {
                width: 100%;
            }
        }

        .sidebar-container {
            width: 280px;
            @media (max-width: $pad_size) {
                display: none;
            }
        }
    }
}
</style>
