﻿<template>
    <div class="anchor-container" :id="text" v-if="text">
        <h2>{{ text }}</h2>
        <a :href="`#${text}`"></a>
    </div>
</template>

<script setup lang="ts">
const props = defineProps<{
    text: string;
}>();
</script>

<style lang="scss" scoped>
.anchor-container {
    h2 {
        border-left: 5px;
        border-style: solid;
        border-color: #1e87ff;
        margin: 40px 0 26px 0;
        padding: 4px 10px;
        font-size: 24px;
        font-weight: bold;
        line-height: 0.92;
        text-align: left;
        color: #09203f;
    }
}
</style>
