﻿<template>
    <el-backtop :right="10" :bottom="10" class="back-to-top-container">
        <div
            style="
                height: 100%;
                width: 100%;
                background-color: #eee;
                box-shadow: var(--el-box-shadow-lighter);
                text-align: center;
                line-height: 40px;
                color: #333;
                font-size: 22px;
            ">
            <span class="fa fa-angle-double-up" />
        </div>
    </el-backtop>
</template>

<style lang="scss">
@import 'assets/style/_sizeSetting.scss';

.back-to-top-container {
    @media (max-width: $pad_size) {
        display: none;
    }
}
</style>
