﻿<template>
    <div class="banner-container" v-if="showBanner">
        <img src="~assets/images/banner.png" alt="banner-image" />
    </div>
</template>

<script setup lang="ts">
import { useRoute } from '#imports';

const route = useRoute();
const showBanner = computed(() => route.path === '/');
</script>

<style lang="scss">
.banner-container {
    img {
        width: 100%;
    }
}
</style>
