﻿<template>
    <div class="bread-crumb-container">
        <el-breadcrumb :separator-icon="ArrowRight">
            <el-breadcrumb-item :to="{ path: '/' }">ホーム</el-breadcrumb-item>
            <el-breadcrumb-item v-for="(item, index) in pathList" :key="index" :to="{ path: item.path }">{{ item.pathName }}</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
</template>
<script lang="ts" setup>
import { ArrowRight } from '@element-plus/icons-vue';
import { IPathList } from '~/types/IPathList';

const route = useRoute();
const props = defineProps<{
    pathList: IPathList[];
}>();
</script>

<style lang="scss" scoped>
.bread-crumb-container {
    margin-top: 12px;
    margin-bottom: 8px;
}
</style>
