<template>
  <div class="footer">
    <div class="copyright">
      Copyright © 2019 Konibet.com All Rights Reserved.
    </div>
  </div>
</template>

<style lang="scss">
.footer {
  background-color: #dbdfe8;
  padding: 33px 0;
}
.copyright {
  margin-top: 0;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  color: #758498;
}
</style>
