﻿<template>
    <div class="news-item">
        <NuxtLink :to="newsItem.redirectUrl">
            <el-card :body-style="{ padding: '0px', borderRadius: '24px' }">
                <img alt="preview-img" :src="newsItem.imgUrl" class="card-img" />
                <div class="card-body">
                    <p class="card-body-title">{{ newsItem.title }}</p>
                    <p class="card-body-subtitle">{{ newsItem.subTitle }}</p>
                    <p class="card-body-date">{{ newsItem.date }}</p>
                    <button class="card-body-detail-button" type="button">詳しい内容</button>
                </div>
            </el-card>
        </NuxtLink>
    </div>
</template>

<script setup lang="ts">
import { INewsItem } from '~/types/INewsItem';

const props = defineProps<{
    newsItem: INewsItem;
}>();
</script>

<style lang="scss" scoped>
@import 'assets/style/_sizeSetting.scss';

.news-item {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    @media (max-width: $pad_size) {
        max-width: 100%;
    }

    .card-img {
        width: 100%;
        max-width: 100%;
    }

    .card-body {
        padding: 16px 24px 24px;
        .card-body-title {
            font-size: 16px;
            font-weight: bold;
            height: 66px;
            line-height: 1.38;
            text-align: left;
            color: #09203f;
            margin-bottom: 24px;
        }
        .card-body-subtitle {
            font-size: 14px;
            line-height: 1.57;
            text-align: left;
            color: #758498;
            min-height: 130px;
        }
        .card-body-date {
            display: block;
            font-size: 12px;
            line-height: 1.83;
            text-align: right;
            color: #758498;
            padding: 20px 0;
        }

        .card-body-detail-button {
            color: #ffffff;
            width: 100%;
            padding: 7px 16px;
            border-radius: 19px;
            background-image: linear-gradient(to right, #1e87ff, #0fb9ff);
            &:hover {
                background-image: linear-gradient(to right, #0fb9ff, #3de1ff);
            }
        }
    }

    :deep(.el-card) {
        --el-card-border-radius: 24px;
    }
}
</style>
