﻿<template>
    <div class="main-banner-container">
        <div class="main-banner-title">
            <img class="banner-title-icon" width="72" height="46" alt="main-banner" src="~assets/images/main-banner-icon.png" />
            <span class="banner-title-text">おすすめプロモーション </span>
        </div>
        <div class="main-banner">
            <a href="#">
                <img alt="main-banner-img" src="~assets/images/main-banner.png" />
            </a>
        </div>
    </div>
</template>

<style lang="scss">
.main-banner-container {
    .main-banner-title {
        display: flex;
        align-items: flex-end;
        margin-bottom: 24px;

        .banner-title-icon {
            margin-right: 16px;
        }

        .banner-title-text {
            font-size: 24px;
            line-height: 22px;
            font-weight: 900;
        }
    }

    .main-banner {
        img {
            border-radius: 24px;
            width: 100%;
        }
    }
}
</style>
