﻿<template>
    <div class="main-news-container">
        <div class="main-news-title">
            <div class="title-left">
                <img class="news-title-icon" width="72" height="46" alt="main-banner" src="~assets/images/main-news-icon.png" />
                <span class="news-title-text">最新記事</span>
            </div>
            <div class="title-right">
                <img alt="more-icon" src="~assets/images/more-icon.png" />
                <a href="#">more</a>
            </div>
        </div>

        <div class="main-news-content">
            <MainContentNewsItem :news-item="item" v-for="(item, index) in newsItemList" :key="index" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { INewsItem } from '~/types/INewsItem';

const newsItemList = ref<INewsItem[]>([
    {
        imgUrl: '/demo/demo-news-preview-1.jpg',
        title: '【Pragmatic Play主催】『Daily Wins-Slots & Live Casino』Starlight Princess',
        subTitle:
            '皆さん、こんにちは。 まもなくお待ちかねのゴールデンウィークですね。 今年は最大10連休も可能ですが、休める人も😆、休めないぞ💢と言う人も、どのように過ごす予定ですか？ P...',
        date: '金曜日 21, 2023 05:04 PM',
        redirectUrl: '/post/goldenrush'
    },
    {
        imgUrl: '/demo/demo-news-preview-2.jpg',
        title: '【Booongo主催】ゴールドラッシュの王者は誰だ!',
        subTitle:
            '皆さん、こんにちは。新しい年度が始まった4月！🌸入学や入社など人生の大きな転機を迎えたり、心機一転、新しいことを始めたくなったりしますよね。でも、新生活や新しいことを...',
        date: '木曜日 13, 2023 08:04 AM',
        redirectUrl: '/post/goldenrush'
    },
    {
        imgUrl: '/demo/demo-news-preview-3.jpg',
        title: '【Nolimit City主催】Cash X',
        subTitle:
            '皆さん、こんにちは。新年度を迎え、新入生や新入社員を迎える季節になりましたね。この度、コニベットのプロモーションにもニューフェイスが登場しました！新登場のNolimi...',
        date: '金曜日 31, 2023 05:03 PM',
        redirectUrl: '/post/goldenrush'
    },
    {
        imgUrl: '/demo/demo-news-preview-4.jpg',
        title: '【NetEnt x Red Tiger x Big Time Gaming主催】Ca$h Bombs',
        subTitle: '皆さん、こんにちは。皆さんは、もう花見しましたか？NetEnt × Red Tiger × Big Time Gamingは、賞金総額$101,150を用意して、『Ca$h ...',
        date: '木曜日 30, 2023 05:03 PM',
        redirectUrl: '/post/goldenrush'
    }
]);
</script>

<style lang="scss" scoped>
@import 'assets/style/_sizeSetting.scss';

.main-news-container {
    margin-top: 24px;

    .main-news-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        .title-left {
            display: flex;
            align-items: flex-end;
            .news-title-icon {
                margin-right: 16px;
            }
            .news-title-text {
                font-size: 24px;
                line-height: 22px;
                font-weight: 900;
            }
        }

        .title-right {
            display: flex;
            align-items: center;
            img {
                margin-right: 5px;
            }
            a {
                font-size: 20px;
                line-height: 1.1;
                text-align: center;
                color: #bac8e0;
            }
        }
    }

    .main-news-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        @media (max-width: $pad_size) {
            display: block;
        }
    }
}
</style>
