﻿<template>
    <div class="main">
        <MainContentBanner />
        <MainContentNews />
    </div>
</template>

<style lang="scss">
@import 'assets/style/_sizeSetting.scss';

.main {
    @media (max-width: $pad_size) {
        margin: 16px;
    }
}
</style>
