﻿<template>
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-logo">
                <a href="#">
                    <img src="~assets/images/navbar-logo.png" alt="navbar-logo" />
                </a>
            </div>
            <div class="search-bar">
                <el-input v-model="searchValue" placeholder="サイト内を検索" :suffix-icon="Search" />
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { Search } from '@element-plus/icons-vue';

const searchValue = ref<string | number>('');
</script>

<style lang="scss" scoped>
@import 'assets/style/_sizeSetting.scss';

.navbar-container {
    background-color: #fff;
    .navbar {
        max-width: 1182px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 60px;
        @media (max-width: $pad_size) {
            justify-content: center;
        }

        .navbar-logo img {
            width: 190px;
            height: 34px;
        }
    }
}

.search-bar {
    :deep(.el-input__wrapper) {
        border-radius: 50px;
        --el-input-border-color: #b5b5b5;
        .el-input__inner {
            font-size: 12px;
        }
    }

    @media (max-width: $pad_size) {
        display: none;
    }
}
</style>
