﻿<template>
    <div class="navigation-container">
        <div class="navigation-normal">
            <div class="navigation-normal-block">
                <ul>
                    <li v-for="(item, index) in navigationList" :key="index">
                        <a :href="item.link">
                            {{ item.label }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navigation-rwd" :class="rwdNavigationIsShow ? 'show' : 'hide'">
            <div class="navigation-rwd-block">
                <ul>
                    <li @click="showNaviDrawer = true">
                        <p>
                            <span class="fa fa-bars" />
                        </p>
                        <p class="caption">メニュー</p>
                    </li>
                    <li>
                        <NuxtLink to="/">
                            <p>
                                <span class="fa fa-home" />
                            </p>
                            <p class="caption">ホーム</p>
                        </NuxtLink>
                    </li>
                    <li>
                        <p>
                            <span class="fa fa-search" />
                        </p>
                        <p class="caption">検索</p>
                    </li>
                    <li @click="scrollToTop()">
                        <p>
                            <span class="fa fa-arrow-up" />
                        </p>
                        <p class="caption">トップ</p>
                    </li>
                    <li>
                        <p>
                            <span class="fa fa-outdent" />
                        </p>
                        <p class="caption">サイドバー</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <client-only>
        <el-drawer v-model="showNaviDrawer" direction="ltr" size="323px">
            <ul class="rwdNavigationList">
                <li v-for="(item, index) in navigationList" :key="index">
                    <a :href="item.link">
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </el-drawer>
    </client-only>
</template>

<script setup lang="ts">
import { INavigationList } from '~/types/INavigation';

const navigationList = ref<INavigationList[]>([
    {
        label: 'トップページ',
        link: '#'
    },
    {
        label: 'プロモーション',
        link: '#'
    },
    {
        label: 'パートナー様の声',
        link: '#'
    },
    {
        label: '★Konibet週間占い★',
        link: '#'
    },
    {
        label: 'キャラクター紹介',
        link: '#'
    },
    {
        label: '今すぐプレイ➝',
        link: '#'
    }
]);

const rwdNavigationIsShow = ref<boolean>(true);
const showNaviDrawer = ref<boolean>(false);
const ShowNavigationWhenScrollTop = (): void => {
    let currentScroll = window.scrollY;
    window.addEventListener('scroll', () => {
        const scrolling = window.scrollY;
        const isScrollToUp = !(scrolling > currentScroll);
        if (rwdNavigationIsShow.value !== isScrollToUp) {
            rwdNavigationIsShow.value = isScrollToUp;
        }
        currentScroll = scrolling;
    });
};

const scrollToTop = () => {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
};
onMounted(() => {
    ShowNavigationWhenScrollTop();
});
</script>

<style lang="scss" scoped>
@import 'assets/style/_sizeSetting.scss';

.navigation-normal {
    background-color: #1e87ff;
    .navigation-normal-block {
        max-width: 1182px;
        margin: 0 auto;
        @media (max-width: $pad_size) {
            display: none;
        }
        ul {
            display: flex;
            li {
                color: #fff;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                padding: 0 27px;
                word-break: keep-all;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.navigation-rwd {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    &.show {
        animation: showNavigation 0.3s forwards;
    }
    &.hide {
        animation: hideNavigation 0.3s forwards;
    }
    @media (max-width: $pad_size) {
        display: block;
    }
    .navigation-rwd-block {
        background-color: #ffffff;
        box-shadow: 0 0 5px darkgrey;
        .fa {
            font-size: 19px;
            color: #09203f;
        }
        .caption {
            font-size: 9px;
            color: #333333;
        }

        ul {
            display: flex;
            li {
                cursor: pointer;
                width: 100%;
                padding-top: 3px;
                p {
                    text-align: center;
                }
            }
        }
    }
}

.rwdNavigationList {
    li {
        padding: 6px;
    }
    a {
        color: #333333;
        font-size: 16px;
    }
}

@keyframes showNavigation {
    from {
        height: 0;
    }
    to {
        height: 45px;
    }
}

@keyframes hideNavigation {
    from {
        height: 45px;
    }
    to {
        height: 0;
    }
}
</style>
