﻿<template>
    <div class="post-content">
        <BreadCrumb :path-list="postData.breadCrumb" />

        <div class="post-title-container">
            <div class="post-title-top">
                <div class="post-date">
                    {{ postData.date }}
                </div>
                <div class="share-icon-list">
                    <ShareIconList :share-icon-list="postData.shareUrl" />
                </div>
            </div>
            <div class="post-title-bottom">
                <div class="banner">
                    <img alt="post-title-banner" :src="postData.banner" />
                </div>
                <div class="title">
                    {{ postData.title }}
                </div>
            </div>
        </div>

        <div class="post-content-container">
            <div class="section-1">
                <p>皆さん、こんにちは。 新しい年度が始まった4月！🌸</p>
                <p>入学や入社など人生の大きな転機を迎えたり、心機一転、新しいことを始めたくなったりしますよね。</p>
                <p>でも、新生活や新しいことを始めるには、何かと先立つものが必要😱</p>
                <p>
                    ならば、春のスタートダッシュを応援しようと、<strong>Booongo</strong>が
                    <span class="danger">賞金総額＄16,000</span>
                    を用意して、<strong>『ゴールドラッシュの王者は誰だ！』</strong>プロモーションを開催します！
                </p>
                <p>金脈を探し当てて一攫千金を夢見たように、プロモに参加して賞金Getしちゃいましょう。</p>
                <p>それでは、<strong>Booongo</strong>主催のプロモーション<strong>『ゴールドラッシュの王者は誰だ！』</strong>を紹介いたします。</p>

                <p class="link mt-24px">
                    プロモーション特設ページは
                    <a href="#">こちら <span class="fa fa-external-link external-icon anchor-icon" /></a>
                </p>
                <p class="link">
                    <a href="#">KonibetでBooongoのプロモーションに参加しよう♪ <span class="fa fa-external-link external-icon anchor-icon" /></a>
                </p>
            </div>

            <div class="section-2">
                <Anchor text="プロモーション期間" />
                <strong class="bold">2023/4/17(月) 13:00 ~ 2023/4/24(月) 13:00 (日本時間)</strong>
            </div>

            <div class="section-3">
                <Anchor text="プロモーション内容" />
                <p>
                    <strong>Booongo</strong>
                    主催の
                    <strong>『ゴールドラッシュの王者は誰だ!』</strong>
                    は、対象ゲームをプレイして獲得した、
                    <strong>配当金倍率</strong>
                    に応じて計算された、ポイント数を競うトーナメントです。
                </p>
                <p>開催期間は1週間の期間限定！</p>
                <p>
                    累計ポイントが最も高いプレイヤー様に、
                    <span class="danger">最大$2,880</span>
                    の賞金が進呈されます！！
                </p>
                <p>
                    対象ゲームは10種類を用意していますので、ゴールドラッシュの王者を目指して、
                    <strong>Booongo</strong>
                    で春の新生活を楽しんじゃいましょう～
                </p>

                <p class="link mt-24px">
                    プロモーション特設ページは
                    <a href="#">こちら <span class="fa fa-external-link external-icon anchor-icon" /></a>
                </p>
                <p class="link">
                    <a href="#">KonibetでBooongoのプロモーションに参加しよう♪ <span class="fa fa-external-link external-icon anchor-icon" /></a>
                </p>

                <SubTitleWithBorder text="参加方法">
                    <p>プロモーション <strong>期間中</strong> に <strong>Booongo</strong> の対象ゲームをプレイして、</p>

                    <p>
                        1スピンの
                        <span class="danger">最低ベット額$0.08</span> で、
                        <span class="danger">合計100スピン</span> をしたプレイヤー様がプロモーションに参加したと認定します。
                    </p>

                    <p>※対象ゲーム以外をプレイしても参加となりません。</p>

                    <p>※リアルマネーでのベットのみ有効となります。</p>

                    <p>※条件に満たない場合は、賞金を獲得できません。</p>
                </SubTitleWithBorder>

                <SubTitleWithBorder text="ポイント計算">
                    <p>
                        <span class="danger">各ラウンドの配当金倍率</span>
                        に基づいて計算されます。
                    </p>

                    <p>○ 配当金倍率 1倍 = 1ポイント。</p>

                    <p>例：＄0.16ベットして ＄16 を獲得した場合、配当金倍率は16 / 0.16 = 100倍になり、100ポイント獲得となります。</p>
                </SubTitleWithBorder>

                <SubTitleWithBorder text="賞金プール（合計400名）">
                    <table>
                        <tbody>
                            <tr>
                                <td>ランキング</td>
                                <td>賞金(USD)</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2,880</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1,600</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>960</td>
                            </tr>
                            <tr>
                                <td>4 - 5</td>
                                <td>480</td>
                            </tr>
                            <tr>
                                <td>6 - 10</td>
                                <td>240</td>
                            </tr>
                            <tr>
                                <td>11 - 50</td>
                                <td>80</td>
                            </tr>
                            <tr>
                                <td>51 - 100</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>101 - 200</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>201 - 400</td>
                                <td>8</td>
                            </tr>
                        </tbody>
                    </table>
                </SubTitleWithBorder>

                <SubTitleWithBorder text="対象ゲーム">
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 100%" colspan="5">対象ゲーム</td>
                            </tr>
                            <tr>
                                <td style="width: 20%">Boom! Boom! Gold!</td>
                                <td style="width: 20%">Maya Sun</td>
                                <td style="width: 20%">Dragon Wealth Hold And Win</td>
                                <td style="width: 20%">Green Chilli</td>
                                <td style="width: 20%">Happy Fish</td>
                            </tr>
                            <tr>
                                <td style="width: 20%">Tiger Jungle</td>
                                <td style="width: 20%">Aztec Fire-Hold & win</td>
                                <td style="width: 20%">Sticky Piggy</td>
                                <td style="width: 20%">Rio Gems</td>
                                <td style="width: 20%">Candy Boom</td>
                            </tr>
                        </tbody>
                    </table>

                    <img alt="games-image" src="/post/goldenrush/games-image.jpg" class="mt-25px" />
                </SubTitleWithBorder>
            </div>

            <div class="section-4">
                <Anchor text="利用規約" />

                <p>● 各スピンの必要なベット額を除いて、このプロモーションに参加するための追加費用はありません。</p>

                <p>● このプロモーションは、有効なベットラウンドのみカウントされます。</p>

                <p>● 故障等が発生した場合、すべての賞金とベットは無効となります。</p>

                <p>
                    ● このプロモーションに参加するプレイヤー様は、このプロモーションおよびKonibetの全ての規則に同意し、それを遵守する必要があります。
                </p>

                <p>● Booongoは、本プロモーションを予告なしに終了する権利および本プロモーションに対する全ての最終決定権を有します。</p>

                <p>● 現在の賞金はBooongo が提供する為替レートに基づいております。</p>

                <p>
                    ●
                    プロモーションが終了すると、ランキングリストのプレイヤー様は任意の対象ゲームに移動して、賞金を請求できます。賞金請求をクリックすると、獲得された賞金はすぐにウォレットに反映されます。
                    また、プロモーションの終了後72時間以内にプレイヤー様のウォレットに配当金を配布します。プレイヤー様は、残高の変更に注意して下さい。
                </p>
                <p>● 本プロモーションの賞金は、3か月間有効で、有効期限後は無効になります。</p>
            </div>

            <div class="section-5">
                <Anchor text="注意事項" />

                <p>● プレイヤー様がリーダーボードの条件を満たすと、プロモーション期間中のすべての有効な賭けはポイントに変換されます。</p>

                <p>● ポイントは小数点以下第2位を四捨五入して計算します。</p>

                <p>● プレイヤー様の現在の順位を確認できるリーダーボードがゲーム内にあります。</p>

                <p>● リーダーボードは自動的にプレイヤー様のランキングを更新します。</p>

                <p>● リーダーボードには、必要な最小ラウンドとベット額を満たした参加資格のあるプレイヤー様のみ表示されます。</p>

                <p style="font-size: 14px"><strong>※本イベントは、Booongoによって開催がされております。</strong></p>
                <p style="font-size: 14px">
                    <strong>Konibetではあらゆるトラブルや疑問に対して一切の責任を負いかねますので、何卒ご了承くださいませ。</strong>
                </p>

                <p class="link mt-24px">
                    プロモーション特設ページは
                    <a href="#">こちら <span class="fa fa-external-link external-icon anchor-icon" /></a>
                </p>
                <p class="link">
                    <a href="#">KonibetでBooongoのプロモーションに参加しよう♪ <span class="fa fa-external-link external-icon anchor-icon" /></a>
                </p>
            </div>

            <div class="post-content-footer">
                <ShareIconList :share-icon-list="postData.shareUrl" is-button class="mt-24px" />
                <div class="post-content-banner-bottom mt-24px">
                    <a href="#">
                        <img alt="banner-bottom" src="/post/banner-bottom.png" style="border-radius: 0" />
                    </a>
                </div>
                <PreviousAndNextButton />
            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
const route = useRoute();
const postData = ref({
    breadCrumb: [
        {
            path: '/',
            pathName: 'ゲーミング紹介'
        },
        {
            path: route.path,
            pathName: '【Booongo主催】ゴールドラッシュの王者は誰だ!'
        }
    ],
    date: '2023/04/13 木曜日 08:04 AM',
    shareUrl: [
        {
            type: 'twitter',
            url: '#'
        },
        {
            type: 'facebook',
            url: '#'
        },
        {
            type: 'bi',
            url: '#'
        },
        {
            type: 'pocket',
            url: '#'
        },
        {
            type: 'line',
            url: '#'
        },
        {
            type: 'pinterest',
            url: '#'
        }
    ],
    banner: '/post/goldenrush/banner.jpg',
    title: '【Booongo主催】ゴールドラッシュの王者は誰だ!'
});
</script>

<style lang="scss" scoped>
@import 'assets/style/_sizeSetting.scss';

.post-title-container {
    .post-title-top {
        border-bottom: 3px solid #ccc;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $pad_size) {
            display: block;
        }

        .post-date {
            font-size: 12px;
            color: #758498;
            line-height: 1;
            padding: 20px;
            margin-bottom: 0;
            @media (max-width: $pad_size) {
                padding-left: 0;
            }
        }

        .share-icon-list {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 12px;
        }
    }
    .post-title-bottom {
        .banner {
            margin-bottom: 10px;
            img {
                border-radius: 24px;
            }
        }
        .title {
            text-align: center;
            font-size: 32px;
            font-weight: 900;
            margin: 16px 0;
            color: #09203f;
        }
    }
}

.post-content-container {
    p {
        font-size: 16px;
        padding: 6px 0;
        color: #09203f;
        &.link {
            text-align: center;
            font-size: 18px;
            a {
                color: #3273dc;
            }
        }
    }

    strong {
        &.bold {
            font-weight: 900;
            font-size: 20px;
        }
    }
    .danger {
        color: #ff0000;
        font-size: 18px;
        font-weight: 700;
        text-decoration: underline;
    }

    table {
        border-collapse: collapse;
        width: 100.001%;
        color: #fff;
        border-radius: 25px;
        overflow: hidden;
        border: 3px #cccccc solid;
        box-shadow: 0 6px 15px 0 rgba(100, 100, 100, 0.1);

        tbody {
            tr {
                color: #09203f;
                height: 41px;
                border: 1px solid #ddd;
                padding: 6px;

                &:first-child {
                    background-color: #1e87ff !important;
                    color: #ffffff;
                }
                &:nth-child(2n) {
                    background-color: #fff;
                }
                &:nth-child(2n-1) {
                    background-color: #f3f3f5;
                }
                td {
                    width: 47.4688%;
                    text-align: center;
                    height: 41px;
                }
            }
        }
    }
}
</style>
