﻿<template>
    <div class="previous-and-next-container">
        <div class="sub-title">
            <p>PREVIOUS</p>
            <p>NEXT</p>
        </div>

        <div class="sub-content">
            <div class="previous-content">
                <div class="fal fa-chevron-left iconfont"></div>
                <div class="previous-title">【Nolimit City主催】Cash X</div>
            </div>
            <div class="next-content">
                <div class="fal fa-chevron-right iconfont"></div>
                <div class="next-title">【Pragmatic Play主催】『Daily Wins-Slots & Live Casino』Starlight Princess</div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.previous-and-next-container {
    margin-top: 24px;
    border-top: 1px solid #8791a0;
    border-bottom: 1px solid #8791a0;
    padding: 18px 0 30px 0;
    color: #09203f;
    .sub-title {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
    }

    .sub-content {
        display: flex;
        flex-wrap: wrap;
        .iconfont {
            width: 55px;
            height: 55px;
            background-image: linear-gradient(to right, #0fb9ff, #3de1ff);
            text-align: center;
            border-radius: 50%;
            color: #fff;
            padding: 16px;

            margin-bottom: 8px;
        }

        .previous-content {
            width: 50%;
            padding: 10px 10px 10px 5px;
            .previous-title {
                margin-left: 8px;
            }
        }

        .next-content {
            width: 50%;
            padding: 10px 5px 10px 10px;
            text-align: right;

            .iconfont {
                margin-left: auto;
            }
            .next-title {
                margin-right: 8px;
            }
        }
    }
}
</style>
