﻿<template>
    <div class="share-icon" v-if="!isButton">
        <ul>
            <li v-for="(item, index) in GetCurrentShareList()" :key="index">
                <a :href="item.url">
                    <img :alt="`share-${item.type}-image`" :src="`/share-icon/share-${item.type}.png`" />
                </a>
            </li>

            <li>
                <img class="copy-image" alt="copy-icon" src="/copy-icon.png" />
            </li>
        </ul>
    </div>

    <div class="share-button" v-else>
        <ul>
            <li v-for="(item, index) in GetCurrentShareList()" :key="index">
                <a :href="item.url">
                    <img :alt="`share-button-${item.type}-image`" :src="`/share-button/share-button-${item.type}.png`" />
                </a>
            </li>
        </ul>
    </div>
</template>

<script setup lang="ts">
const props = defineProps<{
    shareIconList: {
        type: string;
        url: string;
    }[];
    isButton?: boolean;
}>();

const GetCurrentShareList = () => {
    if (props.isButton) {
        return props.shareIconList.filter(x => x.type !== 'pinterest');
    }
    return props.shareIconList;
};
</script>

<style lang="scss" scoped>
.share-icon {
    ul {
        display: flex;
        li {
            margin-right: 18px;
            .copy-image {
                cursor: pointer;
            }
        }
    }
}

.share-button {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            margin-left: 8px;
            margin-bottom: 8px;
            .copy-image {
                cursor: pointer;
            }
        }
    }
}
</style>
