﻿<template>
    <div class="sns-container">
        <div class="sns-title">
            <div class="sns-title-icon">
                <img width="63" height="54" alt="sns-image" src="~assets/images/sns-icon.png" />
            </div>
            <div class="sns-title-text">SNS</div>
        </div>

        <div class="sns-social-list">
            <ul>
                <li>
                    <a href="#">
                        <img width="52" alt="twitter-image" src="~assets/images/twitter-icon.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="52" alt="twitter-image" src="~assets/images/facebook-icon.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="52" alt="twitter-image" src="~assets/images/instagram-icon.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="52" alt="twitter-image" src="~assets/images/youtube-icon.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
.sns-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    .sns-title-icon {
        margin-right: 16px;
    }

    .sns-title-text {
        font-size: 24px;
        line-height: 22px;
        font-weight: 900;
    }
}

.sns-social-list {
    ul {
        display: flex;
        justify-content: space-between;
    }
}
</style>
