﻿<template>
    <div class="special-container">
        <div class="special-title">
            <div class="special-title-icon">
                <img width="63" height="54" alt="special-image" src="~assets/images/special-icon.png" />
            </div>
            <div class="special-title-text">特集</div>
        </div>

        <div class="spacial-content">
            <SpecialItem v-for="(item, index) in specialItemList" :key="index" :special-item="item" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { ISpecialItem } from '~/types/ISpecialItem';

const specialItemList = ref<ISpecialItem[]>([
    {
        imgUrl: '/demo/demo-special-preview-1.png',
        redirectUrl: '#'
    },
    {
        imgUrl: '/demo/demo-special-preview-2.png',
        redirectUrl: '#'
    },
    {
        imgUrl: '/demo/demo-special-preview-3.jpg',
        redirectUrl: '#'
    },
    {
        imgUrl: '/demo/demo-special-preview-4.png',
        redirectUrl: '#'
    },
    {
        imgUrl: '/demo/demo-special-preview-5.png',
        redirectUrl: '#'
    },
    {
        imgUrl: '/demo/demo-special-preview-6.jpg',
        redirectUrl: '#'
    }
]);
</script>

<style lang="scss">
.special-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;

    .special-title-icon {
        margin-right: 16px;
    }

    .special-title-text {
        font-size: 24px;
        line-height: 22px;
        font-weight: 900;
    }
}
</style>
