﻿<template>
    <div class="special-item">
        <a :href="specialItem.redirectUrl">
            <img alt="special-item-image" :src="specialItem.imgUrl" />
        </a>
    </div>
</template>

<script setup lang="ts">
import { ISpecialItem } from '~/types/ISpecialItem';

const props = defineProps<{
    specialItem: ISpecialItem;
}>();
</script>

<style lang="scss" scoped>
.special-item {
    margin-bottom: 24px;
    img {
        border-radius: 24px;
        width: 278px;
        height: 185px;
    }
}
</style>
