﻿<template>
    <div class="sub-title-with-border-container" :id="text">
        <h4>{{ text }}</h4>
        <a :href="`#${text}`"></a>

        <slot />
    </div>
</template>

<script setup lang="ts">
const props = defineProps<{
    text: string;
}>();
</script>

<style lang="scss" scoped>
.sub-title-with-border-container {
    h4 {
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        line-height: 1.25;
        font-weight: bold;
        font-size: 20px;
        padding: 9px 10px;
        margin-top: 48px;
        margin-bottom: 20px;
    }
}
</style>
